The for loops are used to iterated every intem in a object (strings, list etc)

""" Sytanx of a for loop
my iterable=[1,2,3]
for item_name in my_iterable:
    print(item_name)
"""

In [2]:
list1=[1,2,3,4,5,6,7,8,9,10]

In [3]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
for number in list1:
    print(number)

1
2
3
4
5
6
7
8
9
10

In [5]:
#the variable name can be anything
for haider in list1:
    print(haider)

1
2
3
4
5
6
7
8
9
10

In [6]:
#the variable name can be anything
for i in list1:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [8]:
#You can print anything for each iterate
for i in list1:
    print("How are you?")

How are you?
How are you?
How are you?
How are you?
How are you?
How are you?
How are you?
How are you?
How are you?
How are you?

In [9]:
#You can put conditions
for i in list1:
    if i %2 == 0: #checks the even number
        print(i)

2
4
6
8
10

In [13]:
#You can put even with more conditions
for i in list1:
    if i %2 == 0: #checks the even number
        print(i)
    else:
        print(f'Odd number:{i}')

Odd number:1
2
Odd number:3
4
Odd number:5
6
Odd number:7
8
Odd number:9
10

In [17]:
#define a list_sum variable with initial value 0 and for each iterable
#add that value and re-assign it to the list_sum
#print the each iterated value
list_sum=0
for i in list1:
    list_sum=list_sum + i 
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [18]:
#want to print sum of all the numbers?  just put the print statement out of the loop
list_sum=0
for i in list1:
    list_sum=list_sum + i 
print(list_sum)

55

In [21]:
#for loop with strings
for i in "Hello World":
       print(i)

H
e
l
l
o

W
o
r
l
d

In [24]:
#for loop with strings
for i in "Hello World":
       print('Cool!')

Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!

In [25]:
#for loop with tuples
t1=(1,2,3)
for i in t1:
    print(i)

1
2
3

In [26]:
#Tuples inside the list . There are many built in python function take advantage of this 
#data structure
my_list=[(1,2),(3,4),(5,6),(7,8)]
for i in my_list:
    print(i)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [27]:
#The below example is called tuple unpacking
my_list=[(1,2),(3,4),(5,6),(7,8)]
for i,j in my_list:
    print(i,j)

1 2
3 4
5 6
7 8

In [28]:
my_list=[(1,2),(3,4),(5,6),(7,8)]
for i,j in my_list:
    print(i)
    print(j)

1
2
3
4
5
6
7
8

In [30]:
my_list1=[(1,2,3),(3,4,5),(5,6,7),(7,8,9)]
for i,j,k in my_list1:
    print(i)
    print(j)
    print(k)

1
2
3
3
4
5
5
6
7
7
8
9

In [31]:
my_list1=[(1,2,3),(3,4,5),(5,6,7),(7,8,9)]
for i,j,k in my_list1:
    print(i)

1
3
5
7

In [32]:
my_list1=[(1,2,3),(3,4,5),(5,6,7),(7,8,9)]
for i,j,k in my_list1:
    print(j)

2
4
6
8

In [33]:
my_list1=[(1,2,3),(3,4,5),(5,6,7),(7,8,9)]
for i,j,k in my_list1:
    print(k)

3
5
7
9

In [34]:
#Iterating through Dictionaries
#it got iterated through the key only
d={'k1':1,'k2':2,'k3':3}
for i in d:
    print(i)

k1
k2
k3

In [37]:
#to print key and value 
d={'k1':1,'k2':2,'k3':3}
for i in d.items():
    print(i)

('k1', 1)
('k2', 2)
('k3', 3)

In [38]:
#another value
d={'k1':1,'k2':2,'k3':3}
for key,value in d.items():
    print(key)

k1
k2
k3

In [39]:
d={'k1':1,'k2':2,'k3':3}
for key,value in d.items():
    print(value)

1
2
3

In [40]:
d={'k1':1,'k2':2,'k3':3}
for value in d.values():
    print(value)

1
2
3